<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> -esimerkki</h1>
    <p>Salasanan kryptaus (bcrypt-nodejs) ja datan validointi (validator) palvelinpuolella</p>
    <p><a href="/signupform">Luo tunnarit</a>
  </body>
</html>
