<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>
    Sivu 1 |
    <a href="/sivu2">Sivu 2</a> |
    <a href='/sivu3'>Sivu 3</a> |
    <a href="/logout">logout</a>
  </p>
  <h1><%= title %></h1>
  <p>Session id on
    <%= sessid %>
  </p>
</body>

</html>
